---
---
<!doctype html >
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <div class="timeline">
          <a class="active" href="{{ site.baseurl }}">Home</a>
          <a href="#about">About</a>
          <a href="#timeline">Timeline</a>
          <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button> 
            </form>
          </div>
      </div>
  
    {{ content }}

  </body>

</html>
